:root {
  width: 100%;
  height: 100%;
  font-family: Roboto, sans-serif;
  --color-A: #273142;
  --color-B: #00bdc9;
  --color-C: #e8ecff;
  --color-D: #3a78bc;
  --color-background: #f9fefe;
  --color-btn-icon: #5898dd;
  --color-containers: #f7fafd;
}

* {
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: var(--color-background);
  overflow-x: hidden;
}

.container-navbar {
  margin-left: -10px;
  margin-top: -10px;
}

.container-navbar .top-area {
  background-color: var(--color-D);
  width: 110%;
  height: 50px;
}

.container-navbar .top-area .row {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container-navbar .top-area .row .col1 {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: medium;
}

.container-navbar .top-area .row .col1 .top-email, .container-navbar .top-area .row .col1 .top-phone {
  height: inherit;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.container-navbar .top-area .row .col1 .top-email a, .container-navbar .top-area .row .col1 .top-phone a {
  display: block;
  position: relative;
  text-decoration: none;
  padding: 5px 0;
  color: white;
}

.container-navbar .top-area .row .col1 .top-email a::before, .container-navbar .top-area .row .col1 .top-phone a::before {
  display: block;
  content: "";
  width: 0;
  height: 3px;
  left: 0;
  bottom: -3px;
  z-index: 0;
  position: absolute;
  background: white;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.container-navbar .top-area .row .col1 .top-email a:hover::before, .container-navbar .top-area .row .col1 .top-phone a:hover::before {
  width: 100%;
}

.container-navbar .top-area .row .col2 {
  margin-right: 100px;
  font-size: large;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-navbar .top-area .row .col2 a {
  display: block;
  position: relative;
  text-decoration: none;
  padding: 5px 0;
  color: white;
}

.container-navbar .top-area .row .col2 a::before {
  display: block;
  content: "";
  width: 0;
  height: 3px;
  left: 0;
  bottom: -3px;
  z-index: 0;
  position: absolute;
  background: white;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.container-navbar .top-area .row .col2 a:hover::before {
  width: 100%;
}

.container-navbar nav {
  background-color: var(--color-background);
  height: 100px;
  width: 100%;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 5px;
}

.container-navbar nav label {
  font-size: 40px;
  line-height: 70px;
  padding: 0 20 px;
  margin-bottom: 10px;
  margin-left: 20px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.container-navbar nav ul {
  float: right;
  margin-right: 30px;
  font-size: x-large;
}

.container-navbar nav ul li {
  display: inline-block;
  margin: 0 20px;
  position: relative;
  line-height: 46px;
}

.container-navbar nav ul li a {
  text-decoration: none;
  display: block;
  padding: 5px 0;
  font-size: 26px;
  line-height: 1;
  font-weight: bold;
  position: relative;
  z-index: 1;
  text-align: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-gradient(linear, left top, right top, from(#f4734a), color-stop(50%, #f4734a), color-stop(50%, var(--color-D)));
  background-image: linear-gradient(to right, #f4734a, #f4734a 50%, var(--color-D) 50%);
  background-size: 200% 100%;
  background-position: -100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.container-navbar nav ul li a::before {
  display: block;
  content: "";
  width: 0;
  height: 3px;
  left: 0;
  bottom: -3px;
  z-index: 0;
  position: absolute;
  background: #f4734a;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.container-navbar nav ul li a:hover {
  background-position: 0%;
}

.container-navbar nav ul li a:hover::before {
  width: 100%;
}

.container-search-bar {
  width: 105%;
  height: 600px;
  margin-left: -10px;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: padding-box;
  opacity: 0.8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: Roboto, sans-serif;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-search-bar .info-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 55%;
}

.container-search-bar .info-text p {
  color: white;
  text-shadow: 2px 2px black;
  font-weight: bold;
  font-size: 32px;
  line-height: 1.25em;
  margin-right: 10vh;
  margin-top: 110px;
}

.container-search-bar .info-text p span {
  font-size: 18px;
}

.container-search-bar .info-text p span a {
  color: white;
  text-decoration: underline;
}

.container-search-bar .info-text div {
  display: inline-block;
  width: 680px;
  border-radius: 4px;
  text-align: center;
  font-size: 22px;
  padding: 10px 50px;
  margin-left: 6vh;
  margin-top: 5px;
  border: none;
  color: #ffffff;
  background-color: #f4511e;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

.container-search-bar .info-text div span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container-search-bar .info-text div span::after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  bottom: -3px;
  right: -20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 30px;
}

.container-search-bar .info-text div:hover span {
  padding-right: 25px;
}

.container-search-bar .info-text div:hover span:after {
  opacity: 1;
  right: 0;
}

.container-search-bar .info-text .small-div {
  width: 500px;
}

.container-search-bar .search-doctor {
  width: 40%;
  height: 470px;
  margin-top: 15px;
  margin-right: 80px;
  border: 8px solid var(--color-D);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: rgba(255, 255, 255, 0.7);
}

.container-search-bar .search-doctor h1,
.container-search-bar .search-doctor h3 {
  color: var(--color-D);
  text-shadow: 1px 1px black;
}

.container-search-bar .search-doctor form {
  display: -ms-inline-grid;
  display: inline-grid;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
}

.container-search-bar .search-doctor form input,
.container-search-bar .search-doctor form select {
  min-height: 40px;
  margin: 10px 10px;
  width: 300px;
  padding: 10px 30px;
}

.container-search-bar .search-doctor form button {
  width: 200px;
  height: 50px;
  background-color: var(--color-D);
  font-weight: 600;
  border-radius: 10px;
  padding: 10px;
  margin: auto auto;
  font-size: 25px;
  color: white;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

.container-search-bar .search-doctor form button:hover, .container-search-bar .search-doctor form button:focus {
  -webkit-box-shadow: 0 0.5em 0.5em -0.4em var(--color-D);
          box-shadow: 0 0.5em 0.5em -0.4em var(--color-D);
  -webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em);
}

.container-results {
  width: 103%;
  height: 1500px;
  background-color: var(--color-background);
  margin-left: -8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@-webkit-keyframes panel-transition {
  from {
    right: 0px;
  }
  to {
    right: 100%;
  }
}

@keyframes panel-transition {
  from {
    right: 0px;
  }
  to {
    right: 100%;
  }
}

.container-results .container-doctors {
  width: 800px;
  height: 350px;
  margin: 20px auto;
  background-color: #e1c1c1;
  overflow: hidden;
}

.container-results .container-doctors .panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-animation-name: panel-transition;
          animation-name: panel-transition;
  -webkit-animation-duration: 60s;
          animation-duration: 60s;
}

.container-results .container-doctors .panel .container-doctor {
  width: 330px;
  height: 350px;
  background-color: #9d9db8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-results .container-doctors .panel .container-doctor .photo-doctor {
  width: 264px;
  height: 220px;
  background-color: #6c6a6a;
}

.container-results .container-doctors .panel .container-doctor .description-doctor {
  width: 264px;
  height: 60px;
  background-color: #6c6a6a;
  margin-top: 15px;
}

.container-results .container-main-info {
  width: 90%;
  margin-top: 50px;
}

.container-results .container-main-info .main-info {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-results .container-main-info .info-photo {
  width: 157px;
  height: 224px;
  background-color: #666060;
  position: absolute;
  z-index: 2;
  left: 80%;
  margin-top: 50px;
}

.container-footer {
  width: 105%;
  left: -8px;
  position: relative;
  color: #686a6e;
  background-color: #1e232b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.container-footer h3 {
  color: #ffffff;
}

.container-footer .quick-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 30px;
}

.container-footer .quick-links h3 {
  margin-bottom: 5px;
}

.container-footer .quick-links ul {
  padding-left: 15px;
}

.container-footer .useful-links {
  margin-left: 30px;
}

.container-footer .useful-links h3 {
  margin-bottom: 5px;
}

.container-footer .useful-links ul {
  padding-left: 15px;
}

.container-footer .container-map {
  height: 200px;
  width: 300px;
  background: green;
  margin: auto 0px;
}

.container-footer .contact-information {
  margin-left: 30px;
  margin-right: 40px;
}

.container-footer .contact-information h3 {
  margin-bottom: 5px;
}

.container-footer .contact-information ul {
  padding-left: 15px;
}
/*# sourceMappingURL=style.css.map */